@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #002366;
  --secondary-color: #7B1113;
}

[data-theme='dark'] {
  --primary-color: #60A5FA;
  --secondary-color: #F87171;
}

