@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Leaflet map container styles */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Popup styles */
.leaflet-popup-content {
  margin: 0;
  line-height: 1.4;
}

.leaflet-popup-content-wrapper {
  padding: 0;
  text-align: left;
  border-radius: 0.5rem;
}

/* Theme transition */
* {
  transition: background-color 0.3s ease, color 0.3s ease;
} 